vsphere_server           = "###########"
vsphere_user             = "###########"
vsphere_password         = "###########"
vsphere_datacenter       = "###########"
vsphere_datastore        = "###########"
vsphere_cluster          = "###########"
vsphere_network          = "###########"
vsphere_content_library  = "###########"
vsphere_template         = "###########"
vsphere_host             = "###########"

subnet_gateway           = "###########"
subnet_netmask           = "22"
dns_server_list          = "###########"
dns_suffix               = "###########"

pfmp_mgmt_node_1_ip      = "###########"
pfmp_mgmt_node_2_ip      = "###########"
pfmp_mgmt_node_3_ip      = "###########"
pfmp_mgmt_node_1_name    = "###########"
pfmp_mgmt_node_2_name    = "###########"
pfmp_mgmt_node_3_name    = "###########"

root_password            = "###########"