vsphere_server              = "****************"       # e.g. "vc.lab.local"
vsphere_user                = "****************"       # e.g. "administrator@vsphere.local"
vsphere_password            = "****************"
vsphere_datacenter          = "****************"       # e.g. "Lab"
vsphere_folder              = "****************"       # e.g. "PowerFlex45"
vsphere_datastore           = "****************"       # e.g. "Datastore04_local"
vsphere_cluster             = "****************"       # e.g. "Mgmt"
vsphere_network             = "****************"       # e.g. "mgmt_pg"
vsphere_content_library     = "****************"       # e.g. "iso-and-ova-images"
k8s_template                = "****************"       # e.g. "pfmp-k8s-153L-20230809"
vsphere_host                = "****************"       # e.g. "esxi-1.lab.local"

subnet_gateway              = "****************"       # e.g. "192.168.10.1"
subnet_netmask              = "****************"       # e.g. "24"
dns_server_list             = "****************"       # e.g. "192.168.10.10"
dns_suffix                  = "****************"       # e.g. "lab.local"

pfmp_mgmt_node_1_ip         = "****************"       # e.g. "192.168.10.61"
pfmp_mgmt_node_2_ip         = "****************"       # e.g. "192.168.10.62"
pfmp_mgmt_node_3_ip         = "****************"       # e.g. "192.168.10.63"
pfmp_mgmt_node_1_name       = "****************"       # e.g. "powerflex-pfmp-1"
pfmp_mgmt_node_2_name       = "****************"       # e.g. "powerflex-pfmp-2"
pfmp_mgmt_node_3_name       = "****************"       # e.g. "powerflex-pfmp-3"

pf_installer_vm_name        = "****************"       # e.g. "powerflex-installer-vm"
pf_installer_ip             = "****************"       # e.g. "192.168.10.60"
pf_installer_template       = "****************"       # e.g. "PFMP2-4.5.0-1189"

ip_pool_for_pfmp_services   = "****************"       # e.g. "192.168.10.64-192.168.10.68"
vip_for_pfmp_ui             = "****************"       # e.g. "192.168.10.64"   ## Must be the first IP from services IP pool
hostname_for_pfmp_ui        = "****************"       # e.g. "powerflex.lab.local"   ## Fully qualified domain name

storage_node_template       = "****************"       # e.g. "ubuntu_20.04_template"
powerflex_node_1_name       = "****************"       # e.g. "powerflex-node-1"
powerflex_node_1_ip         = "****************"       # e.g. "192.168.10.69"
powerflex_node_1_rep_ip     = "****************"       # e.g. "172.24.166.74"
powerflex_node_2_name       = "****************"       # e.g. "powerflex-node-2"
powerflex_node_2_ip         = "****************"       # e.g. "192.168.10.70"
powerflex_node_2_rep_ip     = "****************"       # e.g. "172.24.166.75"
powerflex_node_3_name       = "****************"       # e.g. "powerflex-node-3"
powerflex_node_3_ip         = "****************"       # e.g. "192.168.10.71"
powerflex_node_3_rep_ip     = "****************"       # e.g. "172.24.166.76"
powerflex_node_4_name       = "****************"       # e.g. "powerflex-node-4"
powerflex_node_4_ip         = "****************"       # e.g. "192.168.10.72"
powerflex_node_4_rep_ip     = "****************"       # e.g. "172.24.166.77"